.navv {
  background-color: black;
  height: 70px;
  color: aliceblue;
  text-align: center;
  vertical-align: middle;
  line-height: 80px; /*?*/
  font-size: 30px;
  position: sticky;
  top: 0;
}

.containerr {
  display: flex;
  min-height: 100%;
}
.topnav {
  display: flex;
}
.topnav .user {
  width: 100%;
}
.side {
  background-color: #e4e4e4;
}
.image {
  max-height: 50em;
  max-height: 50em;
  overflow: hidden;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.side_bar {
  position: sticky;
  margin: auto;
  top: 20%;
  text-align: center;
  background-color: #e4e4e4;
}
.favv {
  background-color: #e4e4e4;
  display: inline;
}
input.form-control {
  width: 80%;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: -20px;
}
.add {
  margin-top: 10px;
}
label {
  display: block;
  margin: auto;
  font-size: medium;
  margin-bottom: -10px;
  width: 80%;
  text-align: left;
}
.btnn {
  margin-top: 15px;
  position: absolute;
  right: 20px;
}
.stories {
  width: 60%;
  margin: auto;
}
.submission {
  margin-top: 30px;
  width: 80%;
}
.story {
  margin: 40px;
  border: 3px solid #e9e9e9;
}
.caption {
  margin: 2px;
  height: 30px;
  font-size: larger;
  border-bottom: 3px solid #e9e9e9;
}
.like {
  margin: 2px;
}
.emo_btn {
  border: none;
  background-color: transparent;
}
.emo_btn:hover,
.emo_btn:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  .containerr {
    flex-direction: column;
  }
  .stories {
    width: auto;
  }
}
